body{
    background-color: rgb(211, 211, 194);
    width: auto;
}

.container{
    background: linear-gradient(rgb(213, 29, 204),white,rgb(201, 31, 85));
    height: 600px;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 5px;
    text-align: center;
    font-size: 30px;
}

button{
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

select{
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    border: black;
}

input{
    padding: 10px;
    border-radius: 10px;

}